%div{id:"contact_page_company_info"}
	
	%h2 Questions and Support
	%p Email is a great to get in touch. Drop us a line at <em><strong>geekology@jobfully.com</strong></em>.
	%p You can also reach us at <strong><em>425.247.0999</em></strong>
	
	%h2 Mailing Address
	
	%p Snail mail is so quaint. Send us something at -
	%p{id: "address"} Geekology (a Jobfully company)</br>15127 NE 24th St., #575</br>Redmond, Wa 98052
	
	%h2 Media Inquiries
	%p
		We'd be glad to provide expert insights into all aspect of technical recruiting, including -
		%ul
			%li Sourcing technical roles
			%li Attracting technical talent
			%li Career development for software professionals
			%li Candidate experience
			%li Compensation package for geeks
			%li and more...