<div id="mailchimp_form">
	<aside>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="http://geekology.us5.list-manage1.com/subscribe/post?u=18167f740186d4164444db811&amp;id=437373d269" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<label for="mce-EMAIL">Get recruiting tips, event info and class schedule in our newsletter</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<div class="clear"><input type="submit" value="Sign up now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
		</div>
		<!--End mc_embed_signup-->
</aside>
</div>