%div{id: "more_testimonials"}
	%p
		%ul
			%li
				&ldquo;I liked how you simplified everything and helped us &lsquo;connect the dots.&rsquo; [This class was] So helpful! I feel much more knowledgeable.&rdquo;
				\- <em>R.C., Wetpaint</em>
			%li
				&ldquo;[Since taking the class,] it's been surprising how much we have started to refer back to this class or use the things that we have learned. This has been super helpful.&rdquo;
				\- <em>Heather Carpenter, INRIX</em>