%section{id: "program_curriculum"}
	%ul{id: "weekly_curriculum"}
		
		%div{id: "weekly"}
			%li Week 1. <strong>Understanding Your Engineering Team</strong>
			%ul
				%li Software development 101
				%li Different roles on a software team
				%li The tools and the &ldquo;language&rdquo; they use
		
		%div{id: "weekly"}
			%li Week 2. <strong>Working with Your Hiring Managers</strong>
			%ul
				%li Decoding job descriptions
				%li Questions to ask during in-takes
				%li Feedback and calibration loop
		
		%div{id: "weekly"}
			%li Week 3. <strong>Working with Your Technical Candidates</strong>
			%ul
				%li Sourcing 101
				%li Decoding technical resumes
				%li Questions to ask when screening