%div{id: "signup_call_to_action"}  
	%h1 Reserve your spot today
	%h3 Location: Seattle/Eastside (in-person) or Online
	%h3 The next session takes place 1:30pm-4:30pm on 7/11, 7/18, and 7/25
	
	<div style="width:70%; text-align:left; margin-left: auto; margin-right: auto;"><iframe  src="http://www.eventbrite.com/tickets-external?eid=6608230395&ref=etckt&v=2" frameborder="0" height="293" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/event/6608230395?ref=etckt">Technical Recruiting 101 (June 2013)</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
	
	%p Questions? Email <strong><em>geekology@jobfully.com</em></strong> or call <strong>425-247-0999</strong>.