%div{class: "status_quo"}
	= image_tag('company_signup_drawing_2.png', :alt => "Da Vinci 2", :id => 'drawing_2')
	%div{id: "problems_with_status_quo"}
		%h2 Act Now. Here is Why -
		%ul
			%li Change from passive and reactive to <strong>proactive recruiting</strong>
			%li Become <strong>a true partner</strong> of your engineering organization
			%li Go <strong>beyond keyword matching</strong>
			%li Increase both <strong>quality and quantity</strong> of candidates
			%li Your developer friends aren&rsquo;t always good at teaching and explaining
			%li You can&rsquo;t really learn technology from Google or Wikipedia