%div{class:'lib_stripe2'}
	%div{class: 'container'}
		%div{class:'lib_banner span12'}

%div{class:'red_stripe'}
	%div{class: 'container'}
		%div{class: "row white_heading"}
			%div{class: "span12"}
				%h1 Technical Training Intensive

%div{class:'brown_stripe'}	
	%div{class:'container'}	
		%div{class:'row'}
			%div{class:'span12 white_heading'}
				%h2 Course Covers These Topics:
		%div{class:"row"}
			%div{class:"span3"}
				%div{class:"new_basic_white_box"}
					%h2 Software Development Fundamentals
			%div{class:"span3"}
				%div{class:"new_basic_white_box"}
					%h2 Different roles<br> on a software team
			%div{class:"span3"}
				%div{class:"new_basic_white_box"}
					%h2 The tools they use and the language	 they speak
			%div{class:"span3"}
				%div{class:"new_basic_white_box"}
					%h2 What to do when running into new technical terms
%div{class:'container'}
	%div{class:'spacer'}
		%div{class: "row"}
			%div{class:'spacer'}
			%div{class: "span12"}
				%div{id:"companyhr_description"}
					%p
						Technical Training Intensive is designed for
						<strong>technical recruiting professionals</strong>
						who don&rsquo;t have extensive technical background.
						Yet, you are tasked to hunt down highly technical candidates,
						such as <strong>web and mobile developers</strong>,
						<strong>software engineers</strong>,
						<strong>UI/UX designers</strong>,
						<strong>QA engineers</strong>,
						<strong>database architects</strong>,
						<strong>DevOps engineers</strong>, and the like,
						for your demanding clients.
						You spend hours reading job descriptions and resumes full
						of technical terms, technology
						lingo and jargon.  The cryptic language used by technical
						people in their resumes and job descriptions makes it
						challenging to
						perform your job to the best of your ability.
					%br
					%div{class:'black_line'	}
					%br
					%p
						This course will lay a solid foundation for understanding
						the inner working of
						typical software engineering teams, tools of their trade,
						how they speak, work individually
						and as a group.  Using the knowledge you learn in this class,
						you can have
						<strong>intelligent and productive conversations</strong>
						with the technical people you need to contact every day
						on the job -
						the <strong>hiring managers</strong> and your
						<strong>candidates</strong>.
					%br
					%div{class:'black_line'	}
					%br
					%p
						This half-day class is organized into two parts:
						<strong>presentation</strong> and
						<strong>interactive workshop</strong>.  It’s a
						small class so everyone’s questions and needs can be addressed.
					%p
						Technical Recruiting 101 is designed for
						<strong>in-house HR/recruiting professionals</strong>
						who want to make an impact on the company's business by
						meeting its critical
						<strong>technical talent acquisition</strong> needs,
						yet feeling bogged down by the jargon
						and cryptic language in job descriptions and
						resumes, commonly used by technical people.
					%br
	%div{class:'spacer'}
	
%div{class:'red_stripe'}
	%div{class:'container'}
		%div{class: "row"}
			%div{class: "span12 white_heading"}
				%h1 Act Now, Here's Why:
			%div{class: "span12"}
				%div{id: "company_act_now"}
					%h2 + Don't let great candidates slip by without even knowing
					%h2 + There is no &ldquo;winging it&rdquo; in technical recruiting
					%h2 + Go beyond keyword matching
					%h2 + Increase both quality and quantity of candidates
					%h2 + Your developer friends aren&rsquo;t always good at teaching and explaining
					%h2 + You can&rsquo;t really learn technology from Google or Wikipedia
%div{class:'container'}
	%div{class:'spacer'}
	%div{class:'row'}
		%div{class:'span12'}
			%div{id:"quote-box"}
				%div{class: "white_box_words"}
					<span>&ldquo;</span>The teaching method was very engaging and informative. The class definitely helped me out in understanding the specific technological needs of the clients! &rdquo;
					%br
					\- <em>Eric Melikov, Akvelon</em> 
			%div{class:'spacer'}
		%div{class:'span12'}
			%div{id:"quote-box"}
				%div{class: "white_box_words"}
					<span>&ldquo;</span>Great class, very informative. Mei does a good job of explaining technical terms to non-technical foks. &rdquo;
					%br
					\- <em>Courtney C., Akvelon</em>
					
%div{class:'brown_stripe'}
	%div{class:'container'}
		%div{class: "row"}
			%div{class: "span12 white_heading"}
				%h1 Reserve your spot today
		%div{class: "row", id: "reserve_info"}
			%div{class: "span12"}
				%h3
					Location: Seattle/Eastside (in-person) or Online
					%br/
					The next afternoon session takes place 1:00-4:30pm on 9/6 (Friday)
		%div{class: "row"}
			%div{class: "span12"}
				<div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=5881424499&ref=etckt&v=2" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Sell Tickets</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
		
		%div{class: "row", id: "companyhr_contact"}
			%div{class: "span12"}
				Questions? Email <span>geekology@jobfully.com</span> or call <span>425-247-0999</span>