%div{class: "row brown_title_banner"}
	%div{class: "span12"}
		%header
			%h1 Technical Training Intensive
			
%div{class: "row", id: "reserve_info"}
	%div{class: "span12"}
		%h2 
			This Course Covers These Topics:
		
%div{class:"row", id: "angency_4_block"}
	%div{class:"span3 brown_box"}
		%div
			%li Software development fundamentals
	%div{class:"span3 brown_box"}
		%div
			%li Different roles on a software team
	%div{class:"span3 brown_box"}
		%div
			%li The tools they use and the &ldquo;language&rdquo; they speak
	%div{class:"span3 brown_box"}
		%div
			%li What to do when running into new technical terms

%div{class: "row", id: "agency_description"}
	%div{class: "span12"}
		%div
			%p
				Technical Training Intensive is designed for
				<strong>technical recruiting professionals</strong>
				who don&rsquo;t have extensive technical background.
				Yet, you are tasked to hunt down highly technical candidates,
				such as <strong>web and mobile developers</strong>,
				<strong>software engineers</strong>,
				<strong>UI/UX designers</strong>,
				<strong>QA engineers</strong>,
				<strong>database architects</strong>,
				<strong>DevOps engineers</strong>, and the like,
				for your demanding clients.
				You spend hours reading job descriptions and resumes full
				of technical terms, technology
				lingo and jargon.  The cryptic language used by technical
				people in their resumes and job descriptions makes it
				challenging to
				perform your job to the best of your ability.
			%p
				This course will lay a solid foundation for understanding
				the inner working of
				typical software engineering teams, tools of their trade,
				how they speak, work individually
				and as a group.  Using the knowledge you learn in this class,
				you can have
				<strong>intelligent and productive conversations</strong>
				with the technical people you need to contact every day
				on the job -
				the <strong>hiring managers</strong> and your
				<strong>candidates</strong>.
			%p
				This 3-hour class is organized into two parts:
				<strong>presentation</strong> and
				<strong>interactive workshop</strong>.  It’s a
				small class so everyone’s questions and needs can be addressed.
			

%div{class: "row brown_banner"}
	%div{class: "span12"}
		%h1 Act Now, Here's Why:
		
%div{class: "row", id: "companyhr_act_now"}
	%div{class: "span6", id: "companyhr_quo"}
		%div
			%p
				%ul
					%li Don't let great candidates slip by without even knowing
					%li There is no &ldquo;winging it&rdquo; in technical recruiting
					%li Go <strong>beyond keyword matching</strong>
					%li Increase both <strong>quality and quantity</strong> of candidates
					%li Your developer friends aren&rsquo;t always good at teaching and explaining
					%li You can&rsquo;t really learn technology from Google or Wikipedia
	%div{class: "span6", id: "companyhr_test"}
		%div
			%p
				%ul
					%li
						&ldquo; The teaching method was very engaging and informative. The class definitely helped me out in understanding the specific technological needs of the clients! &rdquo;
						%br/
						\- <em>Eric Melikov, Akvelon</em>
						%br/
						%br/
					%li
						&ldquo; Great class, very informative. Mei does a good job of explaining technical terms to non-technical foks. &rdquo;
						%br/
						\- <em>Courtney C., Akvelon</em>
			
						
%div{class: "row brown_banner"}
	%div{class: "span12"}
		%h1 Reserve your spot today

%div{class: "row", id: "reserve_info"}
	%div{class: "span12"}
		%h3 
			Location: Seattle/Eastside (in-person) or Online
			%br/
			The next afternoon session takes place 1:30-4:30pm on 7/12 (Friday)

%div{class: "row brown_banner", id: "companyhr_signup"}
	%div{class: "span12"}
		<div style="width:70%; text-align:left; margin-left: auto; margin-right: auto;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=6608041831&ref=etckt&v=2" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/event/6608041831?ref=etckt">Technical Training for Agency Recruiters (June 2013, Friday Afternoon)</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

%div{class: "row", id: "reserve_info"}
	%div{class: "span12"}
		%h3 
			The next evening session takes place 6-9pm on 7/18 (Thursday)

%div{class: "row brown_banner", id: "companyhr_signup"}
	%div{class: "span12"}
		<div style="width:70%; text-align:left; margin-left: auto; margin-right: auto;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=5881424499&ref=etckt&v=2" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/event/5881424499?ref=etckt">Technical Training for Agency Recruiters (April 2013, Session 2)</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

%div{class: "row", id: "companyhr_contact"}
	%div{class: "span12"}
		Questions? Email <strong><em>geekology@jobfully.com</em></strong> or call <strong>425-247-0999</strong>