%div{id: "contact_page_body"}

	%div{id:"company_info_email_form_container"}
		%header{id: "contact_us"}
			%h1 Contact us - We want to hear from you
			
		= render 'pages/contact/contact_page_company_info'
		= render 'pages/contact/mailchimp_form'