%header
	%hgroup
		%h1 Our Training Programs
		%h2 &ldquo;Guessing works sometimes. Knowing works all the time.&ldquo;
%section{id: "program_page_above_fold_body"}
	%div{id: "differentiators"}
		%h1 What makes our programs different?
		%ul
			%li Specifically designed for <strong>recruiting technical talent</strong>
			%li Everything is <strong>easy-to-understand</strong>
			%li Learn <strong>only</strong> what&rsquo;s necessary
			%li Combining <strong>software knowledge</strong> and<strong>recruiting expertise</strong>