%div{id: "agency_program", class: "program_container"}
	%table{id: "agency_table", class: "program_table"}
		%tr{id: "agency_row", class: "table_row"}
			%td{class: "title_cell"}
				%div{id: "agency_program_title", class: "program_title"}
					%h1 Technical Training Intensive
					%br/
					%h2 A 3-hour workshop
					%br/
					= link_to "Detail & Sign up", url_for(:controller => :pages, :action => :agency),
					:class => 'text_button', :id => 'class_detail'
			%td{class: "description_cell"}
				%div{class: "program_description"}
					%table{class: "description_table"}
						%tr
							%td Who
							%td <strong>Agency recruiters</strong> who want to differentiate themselves and stay ahead of the crowd
						%tr
							%td Why
							%td Uncover hidden gems and build better relationships with technical talent
						%tr
							%td How
							%td
								%ul
									%li
										<strong>Better client communication</strong> because you &rdquo;get it&ldquo;
										when you have an overall understanding of how software is made
									%li
										<strong>Confident candidate selection</strong> because you develop insights when you 
										know how different roles function and interact
									%li
										<strong>Stronger relationships</strong> with tech community because you speak their language
										intelligently when you truly understand the tools of their trade