%div{id: "bigco_program", class: "program_container"}
	%table{id: "bigco_table", class: "program_table"}
		%tr{id:"bigco_row", class: "table_row"}
			%td{class: "title_cell"}
				%div{id: "bigco_program_title", class: "program_title"}
					%h1 Technical Recruiting Premium
					%br/
					%h2 Custom designed programs
					%br/
					%h3 Call us at 425-247-0999
			%td{class: "description_cell"}
				%div{class: "program_description"}
					%table{class: "description_table"}
						%tr
							%td Who
							%td <strong>Corporate recruiting teams</strong> that need customized training solutions
						%tr
							%td Why
							%td Boost results of talent acquisition metrics
						%tr
							%td How
							%td
								%ul
									%li
										<strong>Customized solutions</strong> to increase technical recruiting competency level
										based on your team’s unique needs and job market situation
									%li
										<strong>Empower your recruiting team</strong> to drive critical business results by meeting talent growth targets
									%li
										<strong>Hard skill development for recruiting staff</strong> pays off in the form of better
										talent acquisition results, recruiter performance and retention