%div{id: "bio_container"}
	%h1 Instructor: Mei Lu
	= link_to image_tag('linkedin_logo.png'), "http://www.linkedin.com/in/meiiam/"
	%p
		Mei Lu is the Founder and CEO of Jobfully.com, an online software
		start-up focusing on technology job market. Before starting 
		Jobfully, Mei recruited top talent for Silicon Valley technology
		companies, including OpenTable, OutSpark, RockYou and TubeMogul.
		Mei started her career as a software engineer, building software
		at Qpass, M.I.T, and MicroStrategy.
	%p
		She received her Master’s Degree in Computer Science from 
		University of Pennsylvania and her Master’s Degree in Engineering
		from Carnegie Mellon University.