%div{id: "hr_program", class: "program_container"}
	%table{id: "hr_table", class: "program_table"}
		%tr{id: "hr_row", class: "table_row"}
			%td{class: "title_cell"}
				%div{id: "hr_program_title", class: "program_title"}
					%h1 Technical Recruiting 101
					%br/
					%h2 3 half-day classes
					%br
					= link_to "Detail & Sign up", url_for(:controller => :pages, :action => :companyhr), 
					:class => 'text_button', :id => 'class_detail'
			%td{class: "description_cell"}
				%div{class: "program_description"}
					%table{class: "description_table", id: "credits"}
						%tr
							%td
								<em><strong>7.5credit hours (general) toward PHR,
								SPHR and GPHR recertification through the HR Certification Institute.</strong></em>
					%table{class: "description_table"}
						%tr
							%td Who
							%td <strong>Company HR/recruiting professionals</strong> who need to fill technical positions
						%tr
							%td Why
							%td Contribute to meeting company's critical needs in technical talent acquisition
						%tr
							%td How
							%td
								%ul
									%li
										<strong>Become a partner of engineering</strong> because you play a key role in
										talent strategy when you understand how your engineering team works and its talent needs
									%li
										<strong>Help hiring managers</strong> because you reduce their recruiting work load
										when you learn and apply their candidate selection principles
									%li
										<strong>Create business impact</strong> because you scout the right talent to drive company
										growth when you know how to spot and find top technical candidates