/%header{id: "definition"}
/	%h1 <strong>geek</strong> /gēk/ - A person with an eccentric devotion to scientific or technical pursuits
/	%h1 <strong>geekology</strong> /gēkˈäləjē/ - The study of the language, psychology, and functioning of geeks

/%section{id: "landing_page_above_fold_heading"}
/	%header
/		%hgroup
/			%h1 Understanding Geeks Made Simple
/			%h2 You don&rsquo;t need to be a geek to master technical recruiting.

/%div{id: "above_fold_container"}
/	%div{id: "what_is_geekology"}
/		%h1 Introducing - Geekology
/		%p
/			New <strong> technical recruiting training </strong> programs that give you
/			everything you need to know about <strong>technology</strong>, <strong>engineering teams</strong>,
/			and <strong>technical talent</strong> in <strong>plain English</strong>
/		%p
/			= link_to "Learn more", url_for(:controller => :pages, :action => :program), :class => 'text_button', :id => 'learn_more'
/			
/	%div{id: "social_proof"}
/		%ul{id: "testimonial"}
/			%li 
/				&ldquo;I was surprised how much better I understand technology [after this class].&rdquo; 
/				\- <em>Melissa Dela Cruz, DoubleDown Interactive</em>
/			%li
/				&ldquo;10 out of 10. [This class] made me feel more confident about recruiting and talking to my engineering team.&rdquo;
/				\- <em>Laura Bott, NetMotion Wireless</em>
/			%li
/				&ldquo;I got a lot from [the class] and enjoyed it. It was surprising how much I learned and how much more
/				prepared I feel to source and screen candidates.&rdquo;
/				\- <em>Abbie Samson, INRIX</em>