%header
	%hgroup
		%h1 Technical Knowledge - a core skill for technical recruiting
		%h2 And, it&rsquo;s possible for non-programmers to have this knowledge

%section{id:" landing_page_below_fold_body"}
	%div{id: "below_fold_container"}
		%div{id: "after_conditions"}
			%h1 What can our training do for you?
			%p
				%ul{id: "after_condition_items"}
					%li Have Intelligent conversations with technical people
					%li Make smart candiate selections and confident decisions
					%li Identify high potential candidates that might have been missed
					%li Gain recognition for your talent acquisition contribution
					
		%div{id: "why_pain_point_exists"}
			%div{id: "pain_point_question"}
				%p So, why don&rsquo;t most recruiters have enough technical knowledge?
			%div{id: "pain_point_answer"}
				%p
					Knowing what technical knowledge is <strong>needed</strong> 
					and <strong>not needed</strong> for
					technical recruiting requires insights and experience from
					someone who is <strong>technical</strong> and
					<strong>understands recruiting</strong>