%header{id: "definition"}
	%h1 <strong>geek</strong> /gēk/ - A person with an eccentric devotion to scientific or technical pursuits
	%h1 <strong>geekology</strong> /gēkˈäləjē/ - The study of the language, psychology, and functioning of geeks