%section{id:"agency_curriculum"}
	%h3 We will cover the following topics:
	%ul
		%li <strong>Software development</strong> fundamentals
		%li Different <strong>roles</strong> on a <strong>software team</strong>
		%li The <strong>tools</strong> they use and the &ldquo;<strong>language</strong>&rdquo; they speak
		%li What to do when running into <strong>new technical terms</strong>