%div{id: "more_testimonials"}
	%p
		%ul
			%li
				&ldquo; The teaching method was very engaging and informative.
				The class definitely helped me out in understanding the specific technological needs of the clients! &rdquo;
				/- <em>Eric Melikov, Akvelon</em>
			%li
				&ldquo; Great class, very informative. Mei does a good job of explaining technical terms to non-technical foks. &rdquo;
				/- <em>Courtney C., Akvelon</em>