%div{class: "status_quo"}
	= image_tag('agency_signup_drawing_2.png', :alt => "Da Vinci 2", :id => 'drawing_2')
	%div{id: "problems_with_status_quo"}
		%h2 Act Now. Here is Why -
		%ul
			%li Don't let great candidates slip by without even knowing
			%li There is no &ldquo;winging it&rdquo; in technical recruiting
			%li Go <strong>beyond keyword matching</strong>
			%li Increase both <strong>quality and quantity</strong> of candidates
			%li Your developer friends aren&rsquo;t always good at teaching and explaining
			%li You can&rsquo;t really learn technology from Google or Wikipedia