%div{class:"text_drawing_container"}
	%section{id:"agency_self_identifier", class:"customer_self_identifier"}
		= image_tag('agency_signup_drawing_1.png', :alt => "Da Vinci 1", :id => 'drawing_1')
		%p
			Technical Training Intensive is designed for
			<strong>technical recruiting professionals</strong>
			who don&rsquo;t have extensive technical background.
			Yet, you are tasked to hunt down highly technical candidates,
			such as <strong>web and mobile developers</strong>,
			<strong>software engineers</strong>,
			<strong>UI/UX designers</strong>,
			<strong>QA engineers</strong>,
			<strong>database architects</strong>,
			<strong>DevOps engineers</strong>, and the like,
			for your demanding clients.
			You spend hours reading job descriptions and resumes full
			of technical terms, technology
			lingo and jargon.  The cryptic language used by technical
			people in their resumes and job descriptions makes it
			challenging to
			perform your job to the best of your ability.
						
	%section{id: "program_description"}
		%p
			This course will lay a solid foundation for understanding
			the inner working of
			typical software engineering teams, tools of their trade,
			how they speak, work individually
			and as a group.  Using the knowledge you learn in this class,
			you can have
			<strong>intelligent and productive conversations</strong>
			with the technical people you need to contact every day
			on the job -
			the <strong>hiring managers</strong> and your
			<strong>candidates</strong>.
		%p
			This 3-hour class is organized into two parts:
			<strong>presentation</strong> and
			<strong>interactive workshop</strong>.  It’s a
			small class so everyone’s questions and needs can be addressed.