* {
  margin: 0px;
  padding: 0px;
}

header, section, footer, aside, nav, article, hgroup {
  display: block;
}

body{
  /* font-family: times, lasitana, Serif; */
  font-family: georgia, papyrus, Serif;
  text-align: center;

  width: 100%;
}


header#page_header{
  background-color: #f1ddd2;
  color: #fff;
  height: 30px;
  /* overflow: hidden; */
  padding: 10px 20px;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: 3fef8e7;
    text-decoration: none;
  }

  nav#main_top_menu{
    float: right;
  }

  nav#main_top_menu ul{
    margin: 0;
  }

  nav#main_top_menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 21px;
  }

  #geekology_logo {
    top: 15px;
    float: left;
  }
}

footer#page_footer {
  background: url('footer_background.png') no-repeat;
  font-size: 16px;
  text-align: right;
  color: white;
  height: 75px;
  padding: 10px 20px;
}

body#landing_page_body{
  max-width: 960px;
  margin: 20px 0px;
  height: 480px;

  /*
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  */
}

div#landing_page_above_fold{
  background: url('landing_above_fold.png') repeat;
}

#definition{
  padding: 5px 0 10px 0;
}

#definition h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  padding-right: 5%;
  padding-top: 5px;
}

section#landing_page_above_fold_heading{
  header h1{
    font-size: 45px;
  }
  header h2{
    font-size: 24px;
    font-weight: normal;
  }
}

div#above_fold_container{
  /*
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-top: 1px solid black;
  -webkit-box-align: stretch;
  */
}

div#what_is_geekology{
  display: inline-block;
  padding: 5px 20px 10px 30px;
  width: 50%;

  font-size: 24px;
  text-align: right;

  h1 {
    font-size: 36px;
  }

  p {
    margin: 10px 0;
  }
}

div#social_proof{
  background-color: rgba(240,240,240, .5);
  display: inline-block;
  width: 40%;

  padding: 10px;
  margin-bottom: 25px;
  text-align: left;

  li {
    list-style: none;
    padding: 5px;
  }
}

div#landing_page_below_fold {
  background: url('landing_below_fold_1.png') repeat;
  height: auto;

  header h1 {
    font-size: 30px;
    padding-top: 15px;
  }

  header h2 {
    font-weight: normal;
    font-size: 24px;
  }

  section#landing_page_below_fold_body{
    padding-bottom: 20px;
  }
}

div#after_conditions {
  background-color: rgba(240,240,240, .5);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 21px;
  font-style: italic;

  h1 {
    font-size: 27px;
  }

  li {
    padding: 3px 0;
  }

  ul {
    list-style-position: inside;
  }
}

div#why_pain_point_exists {
  font-size: 21px;
}

div#pain_point_question {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 25%;
  text-align: right;
  font-style: italic;
}

div#pain_point_answer {
  display: inline-block;
  width: 65%;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

div#landing_page_call_to_action {
  background: url('landing_below_fold_2.png') repeat;
  padding: 20px 0;

  p {
    font-size: 24px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    background-color: rgba(240,240,240, .5);
  }
}