.row
	margin-bottom: 30px

*
	font-family: 'PT Serif', serif
	font-size: 16px

body
	background: url('landing_below_fold_1.png') repeat

.brown_title_banner
	border-radius: 10px
	background: url('footer_background.png') repeat
	text-align: center
	color: white
	padding:
		top: 5px
		bottom: 5px
	div
		header 
			h1
				font-size: 35px
				font-weight: normal
			h2
				font-size: 24px
				font-weight: normal

.brown_banner
	border-radius: 10px
	background: url('footer_background.png') repeat
	text-align: center
	color: white
	div
		padding:
			top: 10px
			bottom: 10px
		h1
			font-size: 35px
			font-weight: normal
		h2
			font-size: 24px
			font-weight: normal
		header 
			h1
				font-size: 35px
				font-weight: normal
			h2
				font-size: 24px
				font-weight: normal
				
.brown_box
	border-radius: 10px
	background: url('footer_background.png') repeat
	text-align: center
	color: white
	div
		padding: 10px
	h1
		font-size: 25px
		font-weight: normal
	h2
		font-size: 20px
		font-weight: normal

.head_nav
	text-align: center
	height: 96px
	padding: 10px
	float: right
	width: 90px
	background: url('footer_background.png') 
	margin-left: 10px
	border-radius: 0 0 10px 10px
	a
		top: 30px
		font-size: 18px
		&:link
		&:visited
			color: white
				
#seal
	height: 120px
	margin-left: -20px

#geekology_logo
	margin-top: 30px
	margin-left: -40px

#geekology_grab
	border-radius: 10px

#landing_page_above_fold_heading
	border-radius: 10px
	background: url('footer_background.png') repeat
	text-align: center
	color: white
	div
		header 
			h1
				font-size: 35px
				font-weight: normal
			h2
				font-size: 24px
				font-weight: normal
						
#what_is_geekology
	text-align: center
	h1, em
		font-size: 65px
		font-weight: bold
	h2
		font-size: 20px
		

.social_proof
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	div
		padding: 10px

#below-fold-heading
	background: url('footer_background.png') repeat
	border-radius: 10px
	color: white
	text-align: center
	h1
		font-size: 30px
		font-weight: normal
	h2
		font-size: 25px
		font-weight: normal

#after_conditions
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	padding-top: 10px
	ul
		font-size: 18px
		list-style: none
		
#pain_point_question
	background: url('footer_background.png') repeat
	border-radius: 10px
	div
		color: white
		text-align: center
		h1
			font-weight: normal
			font-size: 30px

#landing_call_to_action
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	padding:
		top: 10px
		bottom: 10px

#page_footer
	background: url('footer_background.png') repeat
	border-radius: 10px 10px 0 0
	color: white
	padding: 10px
	margin-bottom: -20px

#page_header
	margin-bottom: 10px

#jobfully_logo
	text-align: center
	
#disclaimer
	font-size: 12px
	text-align: left
	margin-left: -10px

#program_difference
	border-radius: 10px
	text-align: center
	div
		ul
			list-style: none
	
#difference_list
	background-color: rgba(240,240,240, .6)
	border-radius: 10px
	
#program_1
	border-radius: 10px
	background: url('footer_background.png') repeat	
	margin-bottom: 40px

#certification
	padding: 10px

#cert_words
	margin-left: 100px
	margin-top: -50px

#small_seal
	width: 80px

#program_1_box
	margin-top: 30px
	text-align: center
	color: white
	h1
		font-size: 45px
		font-weight: normal
	h2
		font-size: 24px
		font-weight: normal

#program_1_description
	background-color: rgba(240,240,240, .9)
	border-radius: 0 10px 10px 0 
	table
		td
			padding: 10px
			
#program_2
	border-radius: 10px
	background: url('footer_background.png') repeat	
	margin-bottom: 40px

#program_2_box
	text-align: center
	color: white
	h1
		font-size: 45px
		font-weight: normal
	h2
		font-size: 24px
		font-weight: normal

#program_2_description
	background-color: rgba(240,240,240, .9)
	border-radius: 0 10px 10px 0 
	table
		td
			padding: 10px

#program_3
	border-radius: 10px
	background: url('footer_background.png') repeat	
	margin-bottom: 40px

#program_3_box
	text-align: center
	color: white
	h1
		font-size: 45px
		font-weight: normal
	h2
		font-size: 24px
		font-weight: normal

#program_3_description
	background-color: rgba(240,240,240, .9)
	border-radius: 0 10px 10px 0 
	table
		td
			padding: 10px

#instructor
	padding: 20px
	
#bio
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	padding: 10px
	div
		margin-left: -5px

#cert_banner
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	padding:
		top: 10px
		bottom: 10px

#cert_blurb
	padding: 10px
	
#companyhr_description, #agency_description
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	div
		padding: 10px
		margin-left: 0px
	

#companyhr_act_now
	border-radius: 10px
	background: url('footer_background.png') repeat	
	
#companyhr_quo
	div
		color: white
		padding: 10px
		margin-left: 0
		text-align: left

#companyhr_test
	background-color: rgba(240,240,240, .9)
	border-radius: 0 10px 10px 0 
	div
		padding: 10px
		margin-left: 0
		text-align: left
		ul
			list-style: none

#reserve_info
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	
#companyhr_signup
	padding-top: 30px

#companyhr_contact
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	div, em, strong
		margin-left: 0px
		padding:
			top: 20px
			bottom: 20px
			left: 10px
			right: 10px
		font-size: 30px
		
#angency_4_block
	div
		li
			list-style: none
			font-size: 20px


div#mailchimp_form
	border-radius: 10px
	background: url('footer_background.png') repeat
	color: white
	text-align: center
	padding-top: 20px
	.clear
		display: inline-block
	label
		font-size: 21px
		font-weight: bold
	input
		display: inline-block
		
#contact_us
	text-align: center
	background-color: rgba(240,240,240, .5)
	border-radius: 10px
	
.contact_box
	border-radius: 10px
	background: url('footer_background.png') repeat

.contact_left
	color: white
	padding:
		top: 5px
		bottom: 5px
	div 
		h2
			font-size: 24px
			font-weight: normal

.contact_right
	background-color: rgba(240,240,240, .9)
	border-radius: 0 10px 10px 0
	div
		padding: 10px