* {
  margin: 0px;
  padding: 0px;
}

header, section, footer, aside, nav, article, hgroup {
  display: block;
}

body{
  font-family: 'PT Serif', serif;
  text-align: center;
  color: #3f261d;

  width: 100%;
}


header#page_header{
  background-color: #f1ddd2;
  color: #fff;
  height: 30px;
  /* overflow: hidden; */
  padding: 10px 20px;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: 3fef8e7;
    text-decoration: none;
  }

  nav#main_top_menu{
    float: right;
  }

  nav#main_top_menu ul{
    margin: 0;
  }

  nav#main_top_menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-size: 21px;
  }

  #geekology_logo {
    top: 15px;
    float: left;
  }
}

footer#page_footer {
  background: url('footer_background.png') repeat;
  color: white;
  height: 70px;
  display: inline-box;
  padding-left: 15px;
  padding-top: 10px;

  p#company {
    font-size: 16px;
    width: 40%;
    text-align: right;
    float: right;
  }

  p#disclaimer {
    font-size: 14px;
    width: 40%;
    text-align: left;
    float: left;
  }
}

body#program_page_body,
body#landing_page_body{
  max-width: 960px;
  margin: 20px 0px;

  /*
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  */
}

div#landing_page_above_fold{
  background:
    url('hrci_preapproval_seal.png') no-repeat 5% 5%,
    url('landing_above_fold.jpg') repeat;
    background-size: 180px, auto;
}

#definition{
  padding: 5px 0 10px 0;
}

#definition h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  padding-right: 5%;
  padding-top: 5px;
}

section#landing_page_above_fold_heading{
  header h1{
    font-size: 45px;
  }
  header h2{
    font-size: 24px;
    font-weight: normal;
  }
}

div#what_is_geekology{
  display: inline-block;
  padding: 5px 20px 10px 30px;
  width: 50%;

  font-size: 24px;
  text-align: right;

  h1 {
    font-size: 36px;
  }

  p {
    margin: 10px 0 15px 0;
  }
}

div#social_proof{
  background-color: rgba(240,240,240, .5);
  display: inline-block;
  width: 40%;

  padding: 10px;
  margin-bottom: 25px;
  text-align: left;

  li {
    list-style: none;
    padding: 5px;
  }
}

div#landing_page_below_fold {
  background: url('landing_below_fold_1.png') repeat;
  height: auto;

  header h1 {
    font-size: 30px;
    padding-top: 15px;
  }

  header h2 {
    font-weight: normal;
    font-size: 24px;
  }

  section#landing_page_below_fold_body{
    padding-bottom: 20px;
  }
}

div#after_conditions {
  background-color: rgba(240,240,240, .5);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 21px;
  font-style: italic;

  h1 {
    font-size: 27px;
  }

  li {
    padding: 3px 0;
  }

  ul {
    list-style-position: inside;
  }
}

div#why_pain_point_exists {
  font-size: 21px;
}

div#pain_point_question {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 25%;
  text-align: right;
  font-style: italic;
}

div#pain_point_answer {
  display: inline-block;
  width: 65%;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

div#landing_page_call_to_action {
  background: url('landing_below_fold_2.jpg') repeat;
  padding: 20px 0;

  p {
    font-size: 24px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    background-color: rgba(240,240,240, .5);
  }
}

div#program_page_above_fold{
  background:
    url('hrci_preapproval_seal.png') no-repeat 5% 5%,
    url('program_above_fold.jpg') repeat;
    background-size: 180px, auto;

  header {
    text-align: right;
    padding-right: 5%;
    padding-top: 5px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 21px;
    font-weight: normal;
  }

  padding-bottom: 30px;
}

div#differentiators {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: rgba(240,240,240, .5);

  h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  ur {
    padding-bottom: 5px;
  }

  li {
    list-style-position: inside;
    font-size: 21px;
    padding: 3px;
  }
}

div#program_page_below_fold {
  background: url('landing_below_fold_1.png') repeat;
  height: auto;

  header h1 {
    font-size: 27px;
    padding-top: 15px;
    font-style: italic;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

}

.program_container {
}

div.program_title {
  display: inline-block;
  width: 360px;
  height: 290px;

  h1 {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }
}

#hr_program_title {
  background: 
    url('program_title_1.jpg') no-repeat center center,
    url('landing_below_fold_1.png');
}

#agency_program_title {
  background: 
    url('program_title_2.jpg') no-repeat center center,
    url('landing_below_fold_1.png');
}

#bigco_program_title {
  background: 
    url('program_title_3.jpg') no-repeat center center,
    url('landing_below_fold_1.png');
}

.program_description{
  display: inline-block;
  background-color: rgba(240,240,240, .5);
  padding: 20px;
  margin-left: 20px;
  height: 100%;
  font-size: 18px;
}

.program_table {
  padding: 10px;
  margin: 15px 10% 15px 10%;
  border-spacing: 5px;

  li {
    list-style: none;
  }
}

div#below_fold_container {
  padding-bottom: 20px;
}

.description_table {
  text-align: left;
  td {
    vertical-align: top;
    padding: 3px;
  }
}

table#credits {
  margin-bottom: 15px;
  border: 1px solid #b59a79;
  td {
    padding: 3px 8px;
  }
}

div#program_page_bio {
  background: url('program_page_bio.jpg') repeat;
  padding: 15px 0;

  h1 {
    padding: 10px 0 5px 0;
    font-size: 21px;
  }

  p {
    padding: 4px 0;
    font-size: 18px;
  }
}

div#bio_container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  background-color: rgba(240,240,240, .5);
}

.text_button {
  text-decoration: none;
  padding: 12px;
  border-radius: 10px;
}

#learn_more,
#class_detail {
  background: url('dark_coffee_background.png') repeat;
  color: white;
}

#learn_more:hover,
#class_detail:hover {
  background: url('darker_coffee_background.png') repeat;
}

#landing_page_cta {
  color: black;
}

#landing_page_cta:hover {
  color: #333;
}

#class_detail {
  font-size: 21px;
}

div.signup_page_body {
  background: url('landing_below_fold_1.png') repeat;
}

.signup_top_header {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b59a79;
  margin: 0 30%;
}

#drawing_1 {
  float: right;
  padding-right: 30px;
  padding-left: 10px;
  width: 250px;
  height: 250px;
}

.text_drawing_container {
  text-align: left;

  p {
    margin: 10px 0;
    font-size: 18px;
  }
}

div.signup_page_body_container {
  margin: 0 50px;
}

section#program_curriculum {
  margin: 15px 0;
}

section#agency_curriculum {
  font-size: 18px;
  border: 1px solid #b59a79;
  padding: 10px;
  margin: 10px auto;
  width: 60%;

  h3 {
    width: 60%;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #b59a79;
  }

  ul li {
    list-style-position: inside;
  }
}

ul#weekly_curriculum {
  list-style: none;
  font-size: 18px;
  text-align: left;
  div#weekly {
    border: 1px solid #b59a79;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 30%;

    li {
      text-align: center;
    }

    ul li {
      text-align: left;
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

div#problems_with_status_quo {
  display: inline-block;
  background-color: rgba(240,240,240, .5);
  width: 50%;
  margin: 0 auto;
  padding: 20px;

  h2 {
    margin-bottom: 5px;
  }

  ul li {
    text-align: left;
    font-size: 18px;
    list-style-position: inside;
    list-style-type: disc;
    padding: 3px 3px 3px 12px;
  }
}

#drawing_2 {
  float: left;
  padding-left: 30px;
  display: inline-block;
  width: 250px;
  height: 250px;
}

div.status_quo {
  margin: 20px 0;
}

div#signup_call_to_action {
  margin-top: 15px;
  margin-bottom: 30px;

  h3 {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}

#hrci_preapproved {
  float: left;
  padding: 5px 30px;
  width: 70px;
  height: 65px;
}

section#hrci_credits {
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  p {
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-size: 16px;
    background-color: rgba(240,240,240, .5);
  }
}

div#more_testimonials {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  border: 1px solid #b59a79;

  ul li {
    text-align: center;
    font-size: 18px;
    list-style: none;
    padding: 3px 15px 3px 10px;
  }
}

div#contact_page_body {
  background:
    url('contact_us_background.jpg') repeat;

  header {
    text-align: right;
    padding-right: 5%;
    padding-top: 5px;
  }

  h1 {
    font-size: 36px;
  }
}

div#company_info_email_form_containter {
  max-width: 960px;
  margin: 20px 0px;
  margin-left: 15%;
}

div#contact_page_company_info {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 5%;
  padding: 20px 40px 10px 40px;
  background-color: rgba(240,240,240, .5);
  text-align: left;
  display: inline-block;

  h2 {
    font-size: 24px;
    padding-bottom: 5px;
  }

  p {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
  }

  p#address {
    margin-left: 15px;
    font-style: italic;
  }

  ul {
    padding-bottom: 5px;
    margin-left: 5px;
  }

  li {
    list-style-position: inside;
  }
}

div#mailchimp_form {
  width: 25%;
  display: inline-block;
  background-color: rgba(240,240,240, .7);
  border: 1px solid black;
  vertical-align: top;
  margin-top: 30px;
  padding: 20px 15px;

  label {
    font-size: 21px;
    font-weight: bold;
  }

  #mce-EMAIL {
    margin: 15px 0;
    width: 80%;
    height: 30px;
  }

  #mc-embedded-subscribe {
    margin-bottom: 10px;
    width: 60%;
    height: 45px;
    background: url('dark_coffee_background.png') repeat;
    color: white;
  }

  #mc-embedded-subscribe:hover {
    background: url('darker_coffee_background.png') repeat;
  }
}
