%footer{id: "page_footer"}
	%p{id: "disclaimer"}
		* The use of this seal is not an endorsement by the
		HR Certification Institute of the quality of the program.
		It means that this program has met the HR Certification
		Institute's criteria to be pre-approved for recertification credit.
  
	%p
		&copy; Copyright Jobfully 2013
		Geekology is a
		= link_to(image_tag("logo.png",
		alt: "Jobfully - Geekology parent company",
		id: "jobfully_logo"),"http://jobfully.com",
		title: "Jobfully home")
		company
