%div{class: "row",id:"page_header"}
	%div{class: "span2"}
		%div{id:"sub_seal"}
			%div{id:"main_seal_logo"}
				= link_to "GK", root_url
		
	%div{class: "span7 offset3", id: "nav-cluster"}
		%div{class: "sub_head_nav"}= link_to "Contact", url_for('/#contact_link')
		%div{class: "sub_head_nav"}= link_to "Blog", "http://blog.geekology.biz"
		%div{class: "sub_head_nav"}= link_to "Classes", url_for(:controller => :pages, :action => :program)