!!!
%html{lang: "en"}
	%head
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
  	
		%meta{charset:"utf-8"}
		%meta{name: "description", content:"Technical recruiting training for company HR and recruiting professionals. Understanding Geeks Made Simple."}
		%meta{name: "keywords", content:"technical recruiter, technical recruiting, HR, recruitment training, technology recruitment, technical recruitment, engineering recruitment, technical knowledge, recruiting career, professional development, recruiter career development, HR training, recruiting software engineers, recruiting developers, recruiting engineers, software company recruiting, software company talent acqusition, technical talent acquisition"}
		
		%title Geekology - Technical Recruiting Training
		
		-#Fonts from Google"s Web font directory at http://google.com/webfonts
		%link{href: "http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic", rel: "stylesheet", type: "text/css"}
		%link{href: "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic", rel: "stylesheet", type: "text/css"}
		
		- if Rails.env == 'production'
			%script{type: "text/javascript"}
			
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-37976439-1']);
				_gaq.push(['_trackPageview']);
				
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
	
		%body=yield